<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        夢を語る者一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>       <%# 画像をクリックしたらユーザーの詳細ページに遷移する %>
                    <% if user.profile_image.present? %>  <%# プロフィール画像がある場合表示する %>
                      <%= image_tag user.profile_image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0").processed %>
                    <% else %>                            <%# プロフィール画像がない場合サンプル画像を表示する %>
                      <%= image_tag "item-sample.png" %>
                    <% end %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to user.username, user_path(user) %></div>  <%# ユーザーの名前をクリックしたらユーザーの詳細ページに遷移する %>
                </div>
              </div>
              <div class="content">
                投稿数：<%# 投稿一覧を作成する時に実装 %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>