/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.notification:not(:last-child){
	margin-bottom: 0;
}

.image img {
	border-radius: 50%;
}

.main-image {
	background-image: image-url('meal.png');
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.title a {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.section {
	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.navbar.is-primary {
	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.hero.is-success {
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

// .table.is-fullwidth {
// 	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
// }